<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>ng-madlibs</title>
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="bootstrap/style.css">
    <script type="text/javascript" src="http://code.angularjs.org/1.2.16/angular.js"></script>
    <script type="text/javascript" src="http://code.angularjs.org/1.2.16/angular-animate.js"></script>
    <script type="text/javascript" src="app.js"></script>

</head>
<body ng-app="mad-libs">
    <div class="container" ng-controller="LibsController">
        <div class="row">
            <div class="col-md-3 head"><img src="images/smiley.png"> </div>
            <div class="col-md-9 head"><img src="images/logo.png"></div>
        </div>

        <form name="madLibsForm" ng-submit="submit(); submitted=true;" ng-hide="submitted && validation" ng-show="resetForm" novalidate>
            <div class="row mainInputs">
                <div class="col-md-4"> <input type="text" ng-model='maleName' placeholder = 'Name' minlength="1" required /></div>
                <div class="col-md-4"> <input type="text" ng-model='dirtyTask' placeholder = 'Dirty Task' required /></div>
                <div class="col-md-4"> <input type="text" ng-model='obnoxiousCelebrity' placeholder = 'Obnoxious Celebrity' required /></div>
            </div>
            <div class="row mainInputs">
                <div class="col-md-4"> <input type="text" ng-model='jobTitle' placeholder = 'Job Title' required /></div>
                <div class="col-md-4"> <input type="text" ng-model='celebrity' placeholder = 'Celebrity' required /></div>
                <div class="col-md-4"> <input type="number" ng-model='HugeNumber' placeholder = 'Huge Number' required /></div>
            </div>
            <div class="row mainInputs">
                <div class="col-md-4"> <input type="text" ng-model='tediousTask' placeholder = 'Tedious Task' required /></div>
                <div class="col-md-4"> <input type="text" ng-model='uselessSkill' placeholder = 'Useless Skill' required /></div>
                <div class="col-md-4"> <input type="text" ng-model='adjective' placeholder = 'Adjective' required /></div>
            </div>

            <div class="row libs">
                <div class="col-md-10">
                    <p>
                        <input type="checkbox"  ng-model="male" ng-change="changeToMale()" id="male">
                        <lable for="male">Male</lable>
                    </p>
                    <p>
                        <input type="checkbox" ng-model="female" ng-change="changeToFemale()" id="female">
                        <lable for="female">Female</lable>
                    </p>
                </div>
                <div class="col-md-2">
                    <button type="submit">submit</button>
                </div>
                <p ng-if="submitted && !validation">You must fill all the required fields</p>
            </div>
        </form>
        <div class="row libs_result" ng-show="displayLibs">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <p>
                    {{maleName}} was a {{jobTitle}} who loved technology. Although {{subject}} loved parts of {{poss}} job, {{subject}}
                    absolutely hated  {{tediousTask}} and {{dirtyTask}}. So, {{maleName}} met with {{poss}} life mentor
                    {{celebrity}} who told {{possessive}} to learn how to {{uselessSkill}} with Thinkful. Thinkful didn't offer a
                    course on {{uselessSkill}} so {{subject}} studied programming instead.

                    What a great decision! With {{poss}} new skills, {{maleName}} built a(n) {{adjective}} robot named
                    {{obnoxiousCelebrity}} that not only loved {{dirtyTask}} but did it {{HugeNumber}} faster.

                </p>
            </div>
            <div class="col-md-1">
                <button ng-click="reset()">Reset</button>
            </div>
        </div>
    </div>
</body>
</html>